---
import { slide, ViewTransitions } from "astro:transitions";
import NavBar from "../Components/NavBar.astro";
import { siteInfo } from "src/consts/site-info";

interface Props {
  title: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content="Alfredo Alberruche" />

    <!-- OG METATAGS -->
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={image} />
    <!-- Required -->
    <title>{title}</title>
    <ViewTransitions transition:animate="slide" />
  </head>
  <body class="bg-[#222222] text-[#fafafa]">
    <NavBar />
    <main class="px-4 py-4">
      <slot />
    </main>
  </body>
</html>
